<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= subreddit %></title>
</head>
<body style="background-color: black; color: rgb(176, 116, 96);">
    <h2>MAYBE YOU'RE LOST. PLEASE CHECK WITH YOUR ADMIINISTRATOR WITH CORRECT ROUTE. THE <b><%= subreddit.toUpperCase() %></b> IS NOT AVAILABLE CURRENTLY.</h2>
</body>
</html>